.catalog {
    display: flex;
    gap: 40px;
    padding: 48px 64px;
}

.catalogItems {
    display: flex;
    flex-direction: row;
    gap: 64px;
    justify-content: space-between;
    width: 100%;
}

.filters {
    width: 260px;
}

.results {
    flex: 1;
}

.cardList {
    list-style: none;
    margin: 0;
    display: grid;
    gap: 32px;
    border: 1px solid #DADDE1;
    border-radius: 20px;
    padding: 24px;
}

.loadMore {
    margin-top: 32px;
    padding: 12px 24px;
    border: none;
    border-radius: 200px;
    background-color: #e44848;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.error {
    color: #e44848;
    font-weight: bold;
}
