.hero {
    position: relative;
    background-image: url('/hero.jpg'); /* або твій шлях до фото кемпера */
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    /*padding-left: 64px;*/
    color: white;
}

.overlay {
    background: rgba(0, 0, 0, 0.5);
    padding-left: 64px;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px;
}

.subtitle {
    font-size: 24px;
    margin-bottom: 32px;
}

.button {
    background-color: #e44848;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    border-radius: 200px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 172px;
    height: 56px;
}

.button:hover {
    background-color: #d84343;
}
