.circular {
    width: 80px;
    height: 80px;
    border: 2px solid transparent;
    border-top: 3px solid var(--color-red);
    border-radius: 100%;
    position: absolute;
    top: 40vh;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1001;
    animation: spin 1s infinite linear;
}

.uploadingText {
    position: absolute;
    top: calc(40vh + 90px);
    left: 0;
    right: 0;
    margin: auto;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
