* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #f7f7f7;
  color: #101828;
  min-height: 100vh;
}

ul {
  list-style: none;
}

li {
  text-decoration: none;
}

main .catalog {
  padding: 48px 64px;
}

main .catalog .catalog-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

::-webkit-scrollbar {
  display: none;
}
